
        <a class="shuffle" href="{{"/buddhas/001" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-201.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/002" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-202.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/003" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-203.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/004" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-204.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/005" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-205.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/006" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-206.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/007" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-207.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/008" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-208.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/009" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-209.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/010" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-210.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/011" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-211.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/012" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-212.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/013" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-213.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/014" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-214.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/015" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-215.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/016" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-216.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/017" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-217.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/018" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-218.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/019" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-219.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/020" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-220.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/021" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-221.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/022" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-222.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/023" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-223.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/024" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-224.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/025" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-225.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/026" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-226.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/027" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-227.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/028" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-228.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/029" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-229.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/030" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-230.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/031" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-231.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/032" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-232.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/033" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-233.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/034" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-234.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/035" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-235.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/036" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-236.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/037" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-237.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/038" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-238.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/039" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-239.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/040" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-240.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/041" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-241.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/042" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-242.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/043" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-243.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/044" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-244.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/045" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-245.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/046" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-246.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/047" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-247.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/048" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-248.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/049" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-249.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/050" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-250.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/051" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-251.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/052" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-252.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/053" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-253.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/054" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-254.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/055" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-255.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/056" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-256.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/057" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-257.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/058" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-258.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/059" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-259.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/060" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-260.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/061" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-261.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/062" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-262.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/063" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-263.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/064" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-264.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/065" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-265.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/066" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-266.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/067" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-267.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/068" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-268.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/069" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-269.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/070" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-270.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/071" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-271.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/072" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-272.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/073" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-273.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/074" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-274.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/075" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-275.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/076" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-276.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/077" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-277.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/078" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-278.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/079" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-279.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/080" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-280.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/081" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-281.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/082" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-282.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/083" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-283.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/084" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-284.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/085" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-285.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/086" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-286.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/087" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-287.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/088" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-288.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/089" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-289.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/090" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-290.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/091" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-291.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/092" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-292.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/093" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-293.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/094" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-294.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/095" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-295.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/096" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-296.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/097" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-297.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/098" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-298.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/099" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-299.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/100" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-300.jpg" | relative_url }}" class="divination-select"></a>
