
        <a class="shuffle" href="{{"/buddhas/001" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-001.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/002" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-002.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/003" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-003.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/004" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-004.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/005" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-005.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/006" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-006.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/007" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-007.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/008" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-008.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/009" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-009.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/010" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-010.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/011" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-011.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/012" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-012.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/013" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-013.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/014" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-014.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/015" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-015.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/016" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-016.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/017" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-017.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/018" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-018.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/019" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-019.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/020" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-020.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/021" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-021.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/022" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-022.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/023" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-023.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/024" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-024.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/025" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-025.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/026" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-026.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/027" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-027.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/028" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-028.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/029" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-029.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/030" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-030.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/031" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-031.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/032" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-032.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/033" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-033.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/034" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-034.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/035" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-035.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/036" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-036.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/037" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-037.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/038" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-038.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/039" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-039.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/040" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-040.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/041" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-041.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/042" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-042.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/043" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-043.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/044" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-044.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/045" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-045.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/046" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-046.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/047" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-047.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/048" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-048.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/049" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-049.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/050" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-050.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/051" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-051.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/052" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-052.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/053" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-053.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/054" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-054.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/055" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-055.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/056" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-056.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/057" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-057.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/058" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-058.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/059" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-059.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/060" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-060.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/061" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-061.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/062" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-062.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/063" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-063.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/064" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-064.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/065" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-065.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/066" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-066.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/067" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-067.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/068" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-068.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/069" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-069.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/070" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-070.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/071" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-071.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/072" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-072.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/073" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-073.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/074" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-074.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/075" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-075.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/076" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-076.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/077" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-077.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/078" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-078.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/079" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-079.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/080" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-080.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/081" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-081.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/082" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-082.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/083" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-083.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/084" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-084.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/085" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-085.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/086" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-086.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/087" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-087.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/088" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-088.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/089" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-089.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/090" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-090.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/091" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-091.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/092" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-092.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/093" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-093.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/094" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-094.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/095" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-095.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/096" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-096.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/097" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-097.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/098" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-098.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/099" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-099.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/100" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-100.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/101" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-101.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/102" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-102.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/103" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-103.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/104" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-104.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/105" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-105.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/106" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-106.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/107" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-107.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/108" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-108.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/109" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-109.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/110" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-110.jpg" | relative_url }}" class="divination-select"></a>
        {% include buddhas2.html %}
        {% include buddhas3.html %}
        {% include buddhas4.html %}
