
        <a class="shuffle" href="{{"/buddhas/001" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-301.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/002" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-302.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/003" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-303.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/004" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-304.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/005" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-305.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/006" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-306.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/007" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-307.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/008" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-308.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/009" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-309.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/010" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-310.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/011" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-311.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/012" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-312.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/013" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-313.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/014" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-314.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/015" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-315.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/016" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-316.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/017" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-317.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/018" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-318.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/019" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-319.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/020" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-320.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/021" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-321.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/022" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-322.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/023" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-323.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/024" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-324.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/025" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-325.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/026" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-326.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/027" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-327.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/028" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-328.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/029" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-329.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/030" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-330.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/031" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-331.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/032" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-332.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/033" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-333.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/034" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-334.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/035" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-335.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/036" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-336.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/037" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-337.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/038" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-338.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/039" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-339.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/040" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-340.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/041" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-341.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/042" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-342.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/043" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-343.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/044" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-344.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/045" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-345.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/046" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-346.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/047" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-347.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/048" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-348.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/049" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-349.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/050" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-350.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/051" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-351.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/052" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-352.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/053" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-353.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/054" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-354.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/055" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-355.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/056" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-356.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/057" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-357.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/058" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-358.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/059" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-359.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/060" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-360.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/061" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-361.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/062" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-362.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/063" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-363.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/064" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-364.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/065" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-365.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/066" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-366.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/067" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-367.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/068" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-368.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/069" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-369.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/070" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-370.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/071" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-371.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/072" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-372.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/073" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-373.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/074" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-374.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/075" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-375.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/076" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-376.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/077" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-377.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/078" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-378.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/079" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-379.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/080" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-380.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/081" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-381.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/082" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-382.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/083" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-383.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/084" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-384.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/085" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-385.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/086" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-386.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/087" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-387.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/088" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-388.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/089" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-389.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/090" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-390.jpg" | relative_url }}" class="divination-select"></a>

        <a class="shuffle" href="{{"/buddhas/091" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-391.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/092" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-392.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/093" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-393.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/094" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-394.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/095" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-395.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/096" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-396.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/097" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-397.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/098" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-398.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/099" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-399.jpg" | relative_url }}" class="divination-select"></a>
        <a class="shuffle" href="{{"/buddhas/100" | relative_url}}"><img src="{{ "/assets/img/mini-buddhas/minibuddha-400.jpg" | relative_url }}" class="divination-select"></a>
