<div>
  <h5>Share it</h5>
  <div uk-grid class="uk-child-width-1-4">
    <!-- FACEBOOK --!>
		<a class="uk-button facebookbutton"  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}oracle{{ page.url }}" onclick="window.open(this.href, 'mywin',
		'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><span uk-icon="icon: facebook"></span></a>

		<!-- Twitter --!>
		<a class="uk-button twitterbutton" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}oracle{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter">
      <span uk-icon="icon: twitter"></span></a>

		<!-- LINKEDIN --!>
		<a class="uk-button linkedinbutton" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}oracle{{ page.url }}&title=&summary=&source=webjeda" onclick="window.open(this.href, 'mywin',
		'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><span uk-icon="icon: linkedin"></span></a>

		<!-- EMAIL --!>
		<a class="uk-button emailbutton" href="mailto:?subject=&amp;body=Check out my reading on 1000 Buddhas! {{ site.url }}oracle{{ page.url }}"><span uk-icon="icon: mail"></span></a>

	</div>
  <hr>
</div>
