@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&display=swap');

body {
	background-color:#0c0c0c;
}
pre {
	background-color:#282c34;
}
a {
	color: #483e37;
}
hr {
	border-top:1px solid #a89e7b;
}
a:hover {
	color:#a05a2c;
}
.uk-button {
	font-size: 18px;
	font-family: 'Lora', serif;
}
.uk-button-primary {
	background-color:#483e37;
}
.uk-button-primary:hover {
	background-color:#a05a2c;
}
.uk-navbar-nav>li>a {
	color:#000;
}
p {
	font-size:18px;
}
.uk-navbar-left.uk-light.black, .blackback {
    background-color: black;
}
.uk-navbar-left.uk-light.black .uk-navbar-nav>li>a {
color: white;
}
.blackback {
	width:10px;
	height:80px;
	display:block;
}
.homepage .uk-light h2 {
	color:#e9d4ae;
}
h1, h2, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, .uk-heading-2xlarge {
	font-family: 'Lora', serif;
	font-weight:500;
	font-style:italic;
}
h3, h4, h5, h6, p, a, button, blockquote {
	font-family: 'Lora', serif;
	font-weight:400;
}
.uk-card {
	border-radius:8px;
}
.svgiconcard span {
	margin: 0 25px 25px 0;
}
pre code {
	padding:20px;
	display:block;
	border-radius:5px;
}
.highlight, pre.highlight {
    background: #282c34;
    color: #abb2bf;
    border-radius: 5px;
}
.mi-padline {
	padding: 10px 15px;
	border: 1px solid #ccc;
	margin-right: 5px;
	display:inline-block;
}
.tm-main.uk-sticky.uk-active {
	background-color:#fff;
}
.uk-section-secondary {
    background: #241f1c;
}
a.shuffle {
	display:block;
	float:left;
	height:20px;
	width:20px;
	overflow: hidden;
}
a.shuffle .divination-select {
	opacity:.8;
}
a.shuffle:hover .divination-select {
	opacity:1;
}
a > img.divination-select:hover {
    width: 50px;
    height: 50px;
}

.buddha-content {
	background-image: linear-gradient(to right, #1c1c1c, #0c0c0c);
}
.buddha-square {
	background-image: linear-gradient(to right, #1c1c1c, #0c0c0c);
}
.buddha-body {
	background-color:#0c0c0c;
}
.buddha-content-div > .uk-text-center {
	display: none;
}
.buddha-content h1, .buddha-content h2 {
	color: #A99587;
}
.buddha-content p {
	color: #b1a697;
}
.loading-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(227, 222, 220, 0.5);
  z-index: 1000;
}

.loading-animation {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
