---
layout: shuffler
---
<div>
  <div class="uk-container uk-container-xlarge">
    <div class="uk-grid-collapse uk-flex uk-flex-middle" uk-grid  uk-height-match="target: .buddha-square">
      <div class="uk-width-1-2@m uk-width-2-3@l uk-flex-last@m buddha-square">
        <img src="{{"/assets/img/machina_dark_brown.jpg" | relative_url}}" alt="001" width="1024" height="1024">
      </div>
      <div class="uk-width-1-2@m uk-width-1-3@l buddha-content">
        <div class="buddha-content-div uk-card uk-card-body uk-overflow-auto">
          {{content}}
        {% include social-sharing.html %}
        </div>
      </div>
    </div>
  </div>
</div>
